body {
  position: relative;
  background: #efefee;
  min-height:45rem;
  padding-bottom: 80px;
}

html {height:100%}

div.form-group label {
    margin-left: 600px;
}


img.logo-icon{
height: 250px;
margin-left: 40px;
}

input.form-control {
    width: 600px;
}

textarea.form-control {
    width: 600px;
    height: 300px;
    margin-left: 700px;
}
select.formgroup {
    margin-left: 700px;
}


button.btn-default.btn {
    margin-left: 650px;
}


span.navi span{
color: #faf5fa;
border-style: outset;
border-color: #f2f2f2;
height: 30px;
padding-left: 10px;
padding-top: 3px;
background-color: #d1d1c5;
letter-spacing: 3px;
width:78px;
font-weight: bold;
}
ul.nav div a {
    margin-left: 1200px;
}



span.nav div {
    margin-left: 1200px;
}

span.navi span {
    margin-left: 40px;
}

header.header div {
    margin-top: 18px;
    margin-left: 1250px;
}


h1.login {
    padding-top: 50px;
    padding-bottom: 40px;
    height: 70px;
    margin-top: 50px;
    font-weight: bold;
    font-variant: normal;
    text-transform: uppercase;
    margin-left: 650px;
    letter-spacing: 10px;
    text-decoration: overline;
}

#username {
    height: 40px;
    width: 350px;
    margin-left: 20px;
    padding-left: 2px;
}

#password {
    width: 350px;
    height: 40px;
    margin-left: 26px;
    margin-top: 20px;
}

div.name label {
    margin-left: 430px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 3px;
}

div.pass label {
    margin-left: 430px;
    letter-spacing: 3px;
    font-weight: bold;
}

div.re label {
    text-transform: uppercase;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 11px;
}

#remember_me {
    margin-left: 500px;
    margin-top: 30px;
}
#_submit {
    height: 50px;
    margin-top: 40px;
    width: 200px;
}
div.ty {
    font-weight: bold;
    letter-spacing: 7px;
    margin-top: 30px;
    margin-left: 450px;
    margin-bottom: 40px;

}

div.re {
    font-weight: bold;
    margin-left: 70px;
}

div.re label {
    font-weight: bold;
    margin-right: 30px;
}
ul.nav div a {
    margin-left: 1200px;
}

span.nav div {
    margin-left: 1200px;
}

span.navi span {
    margin-left: 40px;
}

header.header div {
    margin-top: 18px;
    margin-left: 1250px;
}
div.col-xs-12 h1 {
    text-decoration: overline;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 70px;
    padding-top: 30px;
    margin-left: 700px;
}
label.required {
    margin-left: 600px;
    font-weight: bold;
    letter-spacing: 2px;
}

#fos_user_registration_form_email {
    height: 35px;
    margin-left: 15px;
    width: 253px;
    margin-bottom: 15px;
}

#fos_user_registration_form_username {
    margin-left: 13px;
    margin-bottom: 15px;
    height: 35px;
    width: 213px;
}

#fos_user_registration_form_plainPassword_first {
    height: 30px;
    width: 163px;
    margin-bottom: 15px;
    padding-left: 02px;
    margin-left: 65px;
}

#fos_user_registration_form_plainPassword_second {
    height: 30px;
}

input.btn.btn-primary {
    height: 40px;
    width: 250px;
    margin-top: 50px;
    margin-left: 650px;
}
div.col-xs-12 p {
    font-size: 50px;
    font-weight: bold;
    font-variant: normal;
    margin-left: 50px;
    padding-bottom: 30px;
}




div.col-xs-12 span a {
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    border-style: outset;
    border-bottom-width: 11px;
    padding-bottom: 20px;
    padding-top: 3px;
    border-color: #cfcbbc;
    border-right-width: 25px;
    border-left-width: 10px;
    border-top-width: 16px;
    margin-left: 60px;
}
span.user img.icon {
    margin-left: 200px;
    height: 400px;
    margin-top: 100px;
}
input.form-control {
    margin-left: 700px;
}


span.user span a {
    margin-left: 100px;
    font-size: 50px;
    border-color: #94a6a6;
    border-style: solid;
    color: #376152;
    background-color: #d1d1c5;
    text-decoration: none;
    border-top-width: 0;
    border-bottom-width: 5px;
    border-left-width: 0;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
}
header.header div span {
    margin-left: 9px;
}

div.1 span a {
    margin-left: 1000px;
}

header.word img {
    width: 900px;
    margin-left: 300px;
    margin-top: 1px;
    padding-top: 10px;
    padding-bottom: 0;
}

div.word img {
    width: 1000px;
    margin-left: 0;
    border-style: double;
    border-color: #376152;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 10px;
    border-bottom-width: 00;
    padding-left: 300px;
    padding-right: 300px;
    margin-top: 170px;
}


span.user a {
    margin-left: 100px;
    font-size: 50px;
    border-color: #94a6a6;
    border-style: solid;
    color: #376152;
    background-color: #d1d1c5;
    text-decoration: none;
    border-top-width: 0;
    border-bottom-width: 5px;
    border-left-width: 0;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
}
