<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SSAMMETA{% endblock %}</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% block stylesheets %}
        <link rel="stylesheet" href="/css/style.css">
        {% endblock %}
    </head>
    <body>
      <header class="header">
      <div>
        <span> Welcome! {{app.user.username}} </span>
        <span class="navi">
           <span><a href="{{ path('fos_user_security_logout') }}">Logout</a></span>
        </span>
        </div>
        <img class="logo-icon" src="{{asset('img/student.png')}}">
     </header>
    <center> <h2> Success! </h2>
    <center> <h2> 100%! you get perfectgrade! </h2>
    <span><a href="/student">go to home</a></span></center>

    <div class="main-content">
      {% for msg in app.session.flashBag.get('success')%}
          <div class="alert alert-success">
            {{msg}}
          </div>
        {% endfor %}
    </body>

</html>
